* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tahoma';
}

.container,
.sub-container {
    color: white;
    display: flex;
    font-size: 20px;
    height: 150px;
    align-items: center;
}

.container {
    justify-content: space-around;
    background-color: rgb(62, 195, 184);
}

#reservation {
    margin-left: 20px;
}

#img {
    height: 100px;
}

#subscribe {
    height: 100px;
}

.image-container,
.logo-container {
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    flex-wrap: wrap;
    align-items: center;
}










